@page "/"
@using Microsoft.AspNetCore.Components.Web

<PageTitle>Home</PageTitle>

<h1>Hello, Welcome to Binh Thanh Trung School</h1>
<h4>Binh Thanh Trung Secondary and High School (THCS-THPT) is a reputable educational institution located in Lap Vo district, Dong Thap province. The school is situated at Hung Thanh Dong Hamlet, Long Hung B Commune. It combines both secondary and high school education levels, serving the educational needs of students in the region.</h4>
<h1>Key Features</h1>
<h4 class="custom-heading">
1. Reputation and Quality Education: Binh Thanh Trung Secondary and High School is well-rated by parents and students. With an average score of 4 out of 5 stars from online reviews, it is considered a reliable place for parents to entrust their children's education​.

2.Facilities: The school continuously invests in and upgrades its facilities to meet the needs of teaching and learning, providing the best conditions for students to develop comprehensively.

3.Extracurricular Activities: Besides the main curriculum, the school organizes various extracurricular activities that help students develop life skills and social integration​.

4.Location: The school is conveniently located in Lap Vo district, making it easily accessible for students from surrounding areas​.</h4>
<h4 style="margin-top: 15px">Binh Thanh Trung Secondary and High School focuses not only on imparting knowledge but also on educating students in ethics and lifestyle, helping them to develop comprehensively into useful citizens for society.</h4>
<img src="/images/photo3.jpg" style="max-width: 100%; height: auto;" />
<h4>With a friendly interface and modern functions, our system not only helps you submit your application quickly but also regularly updates information about courses, schedules, and school events. Join us to experience a professional, dynamic learning environment that is ready to support you on your path of learning and personal development. Register today to not miss the opportunity to become a part of our enthusiastic academic community!</h4>