.page[b-56nkwup8em] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-56nkwup8em] {
    flex: 1;
}

.sidebar[b-56nkwup8em] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-56nkwup8em] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-56nkwup8em]  a, .top-row[b-56nkwup8em]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-56nkwup8em]  a:hover, .top-row[b-56nkwup8em]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-56nkwup8em]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-56nkwup8em] {
        justify-content: space-between;
    }

    .top-row[b-56nkwup8em]  a, .top-row[b-56nkwup8em]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-56nkwup8em] {
        flex-direction: row;
    }

    .sidebar[b-56nkwup8em] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-56nkwup8em] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-56nkwup8em]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-56nkwup8em], article[b-56nkwup8em] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-56nkwup8em] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-56nkwup8em] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
.footer[b-56nkwup8em] {
    background-color: #333; /* Dark background color */
    color: white; /* Text color */
    padding: 20px 0; /* Padding for top and bottom */
    text-align: center; /* Center text alignment */
}

    .footer p[b-56nkwup8em] {
        margin: 0; /* Remove margin */
        font-size: 14px; /* Font size for copyright text */
    }

    .footer ul[b-56nkwup8em] {
        list-style: none; /* Remove bullet points */
        padding: 0; /* Remove padding */
        margin: 10px 0 0; /* Margin for top of the list */
        display: inline-block; /* Align list items horizontally */
    }

        .footer ul li[b-56nkwup8em] {
            display: inline; /* Display list items inline */
            margin: 0 10px; /* Margin between list items */
        }

.footer ul li a[b-56nkwup8em] {
     color: #ccc; /* Link color */
     text-decoration: none; /* Remove underline from links */
     font-size: 14px; /* Font size for links */
     transition: color 0.3s; /* Transition for link color change */
}

.footer ul li a:hover[b-56nkwup8em] {
  color: #fff; /* Link color on hover */
}
