@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <h1 class="navbar-brand">THCS-THPT-BTT School</h1>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fa-solid fa-house" style="margin: 5px;"></i> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <i class="fa-solid fa-square-plus" style="margin: 5px;"></i> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <i class="fa-solid fa-cloud" style="margin: 5px;"></i> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="auth">
                <i class="fa-solid fa-user-lock" style="margin: 5px;"></i> Auth Required
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Semesters">
                <i class="fa-regular fa-calendar-days" style="margin: 5px;"></i> Semesters
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Departments">
                <i class="fa-regular fa-building" style="margin: 5px;"></i> Departments
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Majors">
                <i class="fa-solid fa-layer-group" style="margin: 5px;"></i> Majors
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Subjects">
                <i class="fa-solid fa-layer-group"></i> Subjects
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="students">
                <i class="fa-solid fa-book" style="margin: 5px;"></i> Students
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Courses">
                <i class="fa-solid fa-book" style="margin: 5px;"></i> Courses
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <i class="fa-solid fa-user" style="margin: 5px;"></i> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <i class="fa-solid fa-id-badge" style="margin: 5px;"></i> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
